.row > div {
                font-family: cooper black;
               	padding: 6px;
                font-size: 25px;
                background-color: #FFFD47;
                border: 8px solid white ;
                color: white;
                text-align: center;
               	text-shadow:
    -1px -1px 0 #e089fa,
     0   -1px 0 #e089fa,
     1px -1px 0 #e089fa,
     1px  0   0 #e089fa,
     1px  1px 0 #e089fa,
     0    1px 0 #e089fa,
    -1px  1px 0 #e089fa,
    -1px  0   0 #e089fa;
            }
.box {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.book {
   width: 240px; /*or whatever you choose*/
   text-align: center;
   box-shadow: 4px 5px 25px 8px #F2F2F2;
   border-radius: 10px;
   margin: 30px;
   padding:1%;
   transition: .7s ease-out;
}

.book img {
  display: block;
   width: 100%;
   max-width: 200px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
   margin-bottom: 10px;

}
.book:hover{
  box-shadow: 4px 5px 15px 4px lightgrey;
  border:1px line black;
  transform: translateY(15px);
  opacity: 0.8;
  }


@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  [class*="row"] {
    width: 100%;
  }

}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  [id*="logo"] {
  	display: block;
  margin-left: auto;
  margin-right: auto;
  
  }
}


.T1{

}

.T2{
	
}
 
.T3{
	
}

 .T4{
	
}
 
            

#body  {
  width: auto;
  margin-right: 100px;
  margin-left: 100px; 
  margin-top:30px;
  margin-bottom:30px;
 
  
}
p,ul {
	font-size: 17px;
	color:black;

}
.header{
  width: auto;
  padding: 20px;
  margin: 90px; 
  margin-top: 100px;
  color: black;
  text-align: left;
  font-size: 50px;
  font-family: cooper black,"Courier New", Courier, monospace;
}
.title{
  width: auto;
  padding: 20px;
  margin: 90px;
  margin-bottom: 0px; 
  margin-top: 100px;
  color: black;
  text-align: left;
  font-size: 50px;
  font-family: cooper black,"Courier New", Courier, monospace;
}
#author{
width: auto;
  margin-right: 100px;
  margin-left: 110px;
  margin-bottom:30px;
  margin-top: 0px;
}
.subheading{
  width: auto;
  padding: 20px;
  margin: 90px; 
  color: black;
  text-align: left;
  font-size: 30px;
  font-family: cooper black,"Courier New", Courier, monospace;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 257px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size:  17;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ffb8eb; color: white;}

.T1:hover .dropdown-content {display: block;}

.T1:hover .dropbtn {background-color: #3e8e41;}

.T2:hover .dropdown-content {display: block;}

.T2:hover .dropbtn {background-color: #3e8e41;}

.T3:hover .dropdown-content {display: block;}

.T3:hover .dropbtn {background-color: #3e8e41;}

.T4:hover .dropdown-content {display: block;}

.T4:hover .dropbtn {background-color: #3e8e41;}
</style>
</head>
<body>




