---

---
$font:arial;
$size:18px;
}

%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
ul.a{
  list-style-type:none;
}

ul > li{
  line-height: 25px;
  font-family: $font;
  font-size: $size;
  font-weight:bold;
  
}


